Repository formulaslug/fs-2, pull requests merged in 2020-05, with the labels that each got.

#8 Create file with CAN BMS Specifications
  bms/CanSpec.md
Labels: bms, documentation

#2 Update BMSConfig.h for LPC1768 and add documentation
  bms/src/BmsConfig.h
  bms/src/Main.cpp
Labels: enhancement

#10 Add basic github actions ci
  .github/workflows/main.yml
  .gitignore
  bms/.mbed
Labels: enhancement

#13 Fix typo on LTC6811Bus including wrong header
  bms/src/LTC6811Bus.cpp
Labels: bms, bug

#16 Fix order of TX and RX pins on bms CAN
  bms/src/Main.cpp
Labels: bms, bug
